/* Start of Heading */
body {
  background: rgb(248, 244, 244);
}
nav {
  background-color: rgb(5, 84, 5);
  opacity: 0.9;
}
.navbar-nav {
  justify-content: end;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
a {
  font-family: "Roboto", sans-serif;
}
h5 {
  color: rgb(23, 155, 23);
}
.nav-link:hover {
  color: rgb(202, 218, 220);
  transition: all 0.4s ease 0s;
}
/* hover active links */

.active {
  color: rgb(202, 218, 220) !important;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-menu {
  background-color: rgb(5, 84, 5);
  display: none;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */

.dropdown-menu a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  padding: none;
  text-decoration: none;
  background-color: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  color: white;
  background-color: rgb(23, 155, 23);
  transition: all 0.4s ease 0s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Carousel indicators button */
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* End of Heading */

/* Start of Heading */
nav {
  background-color: rgb(5, 84, 5);
  opacity: 0.9;
}
.navbar-nav {
  justify-content: end;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
a {
  font-family: "Roboto", sans-serif;
}
h5 {
  color: rgb(23, 155, 23);
}
.nav-link:hover {
  color: rgb(23, 155, 23);
  transition: all 0.4s ease 0s;
}
/* hover active links */

.active {
  color: rgb(23, 155, 23) !important;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-menu {
  background-color: rgb(5, 84, 5);
  display: none;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */

.dropdown-menu a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  padding: none;
  text-decoration: none;
  background-color: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  color: white;
  background-color: rgb(23, 155, 23);
  transition: all 0.4s ease 0s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Carousel indicators button */
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* End of Heading */ /* Start of Heading */
nav {
  background-color: rgb(5, 84, 5);
  opacity: 0.9;
}
.navbar-nav {
  justify-content: end;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
a {
  font-family: "Roboto", sans-serif;
}
h5 {
  color: rgb(23, 155, 23);
}
.nav-link:hover {
  color: rgb(23, 155, 23);
  transition: all 0.4s ease 0s;
}
/* hover active links */

.active {
  color: rgb(23, 155, 23) !important;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-menu {
  background-color: rgb(5, 84, 5);
  display: none;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */

.dropdown-menu a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  padding: none;
  text-decoration: none;
  background-color: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  color: white;
  background-color: rgb(23, 155, 23);
  transition: all 0.4s ease 0s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Carousel indicators button */
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
/* End of Heading */
h1 {
  text-align: center;
  font: 36px/44px Calibri, sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 47px;
  text-transform: uppercase;
  line-height: 1.12;
  padding: 3rem 0 0.5rem 0;
  font-weight: bold;
  color: #0a531c;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#effect {
  top: 0%;
  left: 0%;
  width: 600px;
  transform: translateX(0px);
  transition: 1.1s all;
  cursor: pointer;
}
#effect:hover {
  box-shadow: 6px 6px 40px 10px #5f6360;
  transform: translateX(20px);
}
p {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 14px;
  width: 800px;
  text-align: content;
}
#pad {
  padding-top: 30px;
}
/* footer styles */
