#login-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rga(0, 0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #e6ecf0;
  padding: 10px 0px 20px 0;
  border-radius: 10px;
  width: 450px;
  text-align: center;
}
.top-form {
  display: flex;
  justify-content: flex-end;
}
.top-form .close-modal {
  cursor: pointer;
  padding: 0 20px;
  font-size: 20px;
}
.login-form h2 {
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.login-form form input {
  width: 75%;
  margin-bottom: 20px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
}
.login-form button {
  padding: 12px 0;
  width: 75%;
  background: #edca88;
  border: 0;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}
